/* styles.css */

body {
    background-image: url("resources/background.jpeg");
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

.intro,
.heading,
.subHeading {
    font-family: 'Allerta Stencil';
    font-size: 70px;
    color: #fff;
    text-align: center;
    line-height: 95px;
    letter-spacing: 3px;
    margin-top: 20px;
    animation: glow 2s ease-in-out infinite alternate;
}

.subHeading {
    font-size: 50px;
}

@keyframes glow {
    from {
        text-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 15px #5400e6, 0 0 20px #5400e6, 0 0 25px #5400e6, 0 0 30px #5400e6, 0 0 35px #5400e6;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 12px #fff, 0 0 25px #5400e6, 0 0 40px #5400e6, 0 0 40px #5400e6, 0 0 50px #5400e6, 0 0 55px #5400e6;
    }
}

.startButtonContainer,
.instructionButtonContainer,
.homePage,
.startGame {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#startButton,
#instructionButton,
#homepage,
#homepageTwo,
#playAgain {
    color: #02bfcd;
    border: 3px solid #00eeff;
    background-color: rgb(255, 253, 253);
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 30px;
    font-family: 'Alegreya Sans SC';
    letter-spacing: 5px;
    filter: drop-shadow(0 0 10px #00eeff) drop-shadow(0 0 15px #00eeff);
    /* allows the button to be lined up vertically */
    display: block;
    transform: translate(-1%, -3%);
}

#startButton {
    margin-top: 130px;
}

#instructionButton {
    margin-top: 80px;
}

#playAgain {
    text-decoration: none;
    margin-top: 80px;
}

#startButton:hover,
#instructionButton:hover,
#homepage:hover,
#homepageTwo:hover,
#playAgain:hover {
    color: white;
    background-color: #02bfcd;
    transform: translate(-2%, -15%);
    transition: all 0.1s ease-in;
    filter: drop-shadow(0 0 20px #00eeff);
}

.howToPlay {
    justify-content: center;
    background-color: white;
    color: black;
    margin: 60px 60px;
    border-radius: 15px;
    filter: drop-shadow(0 0 10px #5400e6) drop-shadow(0 0 15px #5400e6);
}

h1 {
    margin-bottom: 5px;
    font-family: 'Alegreya';
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    padding-top: 25px;
}

h2 {
    font-size: 30px;
    font-family: 'Alegreya';
    text-align: center;
    margin-bottom: 5px;
}

ul,
li {
    font-size: 30px;
    font-family: 'Alegreya';
    text-align: center;
    margin-bottom: 5px;
}

.list {
    display: flex;
    justify-content: center;
    text-align: center;
}

.endHeadingTwo {
    padding-bottom: 5px;
}

#homepage {
    margin-top: 50px;
}

.startGame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.humanPlayer {
    background-color: rgb(255, 253, 253);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 70px 40px;
    width: 480px;
    height: 350px;
    filter: drop-shadow(0 0 10px #07f985) drop-shadow(0 0 15px #07f985);
    float: left;
}

.humanPlayerHeading,
.computerPlayerHeading {
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Alegreya';
    text-align: center;
    margin-bottom: 5px;
}

.humanPlayerScore,
.computerPlayerScore {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Alegreya';
    text-align: center;
    margin-top: -25px;
}

.humanSelection,
.computerSelection {
    display: flex;
    justify-content: center;
}

.hSelect,
.cSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 30px;
}

.hSelection,
.cSelection {
    height: 115px;
    width: 100px;
    border-radius: 10px;
}

.hSelection:hover {
    box-shadow: 0 0 3px 3px #ccff00;
}

.humanPick {
    filter: drop-shadow(0 0 10px #ccff00) drop-shadow(0 0 15px #ccff00);
    transition: all 2s ease;
    transform: scale(1.1);
}

.computerPlayer {
    background-color: rgb(255, 253, 253);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 70px 40px;
    width: 480px;
    height: 350px;
    float: right;
    filter: drop-shadow(0 0 10px #ccff00) drop-shadow(0 0 15px #ccff00);
}

.computerPick {
    filter: drop-shadow(0 0 10px #07f985) drop-shadow(0 0 15px #07f985);
    transition: all 2s ease;
    transform: scale(1.1);
}

.lastPage {
    display: none;
    text-align: center;
}

.winners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.win {
    display: none;
    text-align: center;
    height: 320px;
    width: 400px;
    filter: drop-shadow(0 0 10px #00eeff) drop-shadow(0 0 15px #00eeff);
    border-radius: 10px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.humanWinner,
.computerWinner,
.draw {
    display: none;
    font-family: 'Allerta Stencil';
    font-size: 60px;
    color: #fff;
    text-align: center;
    line-height: 95px;
    letter-spacing: 3px;
    margin-top: 60px;
    animation: glow 2s ease-in-out infinite alternate;
}